.bloque{
    background-color: #20293a;
}

.navbar-frame{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.navbar{
    text-align: center;
    display: block;
    background-color: #1b263a;
    border-style: outset;
    border-radius: 15px;
    max-width: 620px;
}

.nav-a{
    color:chartreuse;
    margin-left: 25px;
    margin-right: 25px;
}

.nav-a:hover{
    color: white;
    cursor: pointer;
    scale: 103%;
}

.home-content{
    text-align: center;
}



.boton-cs{
    max-height: 40px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 15px;
    color: green;
    background-color: #1b263a;
    border-style: outset;
    border-width: 2px;
}